:root { 
    --deep_orange_A100:#daab7a; 
    --white_A700_1e:#ffffff1e; 
    --blue_gray_100_01:#cbd5e1; 
    --indigo_A200:#5271ff; 
    --black_900_3f:#0000003f; 
    --light_blue_900:#00579f; 
    --gray_50_21:#fff8f821; 
    --black_900_1e:#0000001e; 
    --black_900:#000000; 
    --yellow_800:#f4932d; 
    --blue_gray_100_7f:#cbd5e17f; 
    --gray_500_01:#abacac; 
    --black_900_07:#00000007; 
    --yellow_800_02:#f79e1b; 
    --blue_gray_900:#333333; 
    --yellow_800_01:#faa61a; 
    --red_A700:#eb001b; 
    --deep_orange_100:#fac5ac; 
    --black_900_26:#00000026; 
    --gray_600:#838383; 
    --gray_900_02:#1e1f1e; 
    --gray_900_03:#1a202c; 
    --gray_700:#565656; 
    --gray_900_04:#2a2a2a; 
    --gray_400:#bebebe; 
    --blue_gray_100:#cfcfcf; 
    --gray_500:#a6a6a6; 
    --orange_A200:#fbad39; 
    --blue_700:#306fc8; 
    --blue_gray_400:#8d8d8d; 
    --blue_gray_300:#94a3b8; 
    --gray_800:#3a3a3a; 
    --orange_A700:#ff5f00; 
    --blue_gray_600:#596780; 
    --blue_gray_500:#64748b; 
    --gray_900:#121a26; 
    --gray_900_01:#011c2a; 
    --gray_200:#ececec; 
    --blue_gray_300_03:#90a3bf; 
    --blue_gray_300_01:#8e8ea9; 
    --blue_gray_300_02:#9797aa; 
    --gray_100:#f7f7f7; 
    --gray_100_01:#f1f5f9; 
    --indigo_900:#0e355f; 
    --blue_gray_400_01:#838996; 
    --white_A700:#ffffff; 
    --gray_700_01:#5b5b5b; 
    }